@font-face { font-family: "TF2"; src: url('../fonts/TF2.ttf') format('truetype'); }
@font-face { font-family: "TF2Secondary"; src: url('../fonts/TF2secondary.ttf') format('truetype'); }
@font-face { font-family: "TF2build"; src: url('../fonts/tf2build.ttf') format('truetype'); }
@font-face { font-family: "Bevan"; src: url('../fonts/Bevan.ttf') format('truetype'); }

body {
	background-color: #302b25;
}

h1 {
	font-family: Bevan;
	font-size: 64px;
	text-align: center;
	color: #FFD700;
	text-shadow: 3px 3px #141414;
	margin: initial auto;
}

h2 {
	font-family: TF2Build;
	font-size: 34px;
	text-align: center;
	color: #FFD700;
	text-shadow: 3px 3px #141414;
	margin: initial auto;
}

h3 {		/* This is for the title card headings*/
	font-family: TF2Build;
	font-size: 28px;
	text-align: center;
	color: #FFD700;
	margin: 0;          /* Removes the default margin */
	margin-bottom: 12px;
	padding: 0;         /* Removes the default padding */
	text-shadow: 1px 1px #141414;
	line-height: 1.2;
}

h3stock {    /* For stock weapons*/
  font-family: TF2Build;
  font-size: 28px;
  text-align: center;
  color: #B2B2B2 ;
  margin: 0;          /* Removes the default margin */
  margin-bottom: 12px;
  padding: 0;         /* Removes the default padding */
  text-shadow: 1px 1px #141414;
  line-height: 1.2;
}

p {
	font-family: TF2Secondary;
	font-size: 20px;
	text-align: center;
	color: #ebe2ca;
	margin: 0 calc(120px - 5vw) 30px;
  line-height: 1.4;
}

details summary {
  cursor: pointer;
  list-style: none;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

details
summary::-webkit-details-marker {
  display: none;
}

/* Images */
a {
  text-decoration: none;
  vertical-align: middle;	
}

div {
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-shadow: 1px 1px #141414;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.1s ease;
}

.image-container .hover {
  opacity: 0;
}

.image-container:hover .hover {
  opacity: 1;
}

.image-container:hover .normal {
  opacity: 0;
}

td, .image-container, .image-container img {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures padding doesn’t affect dimensions */
}

img {
  right: 0px;
}

.home-button img {
	position: fixed;
	left: 20px;
  	width: 80px;
  	height: 80px;
 	object-fit: cover;
}

td.button img {
  	width: 100px;
  	height: 100px;
 	object-fit: cover;
}

td.weapon img {
	max-width: 100%;
	height: auto;
 	object-fit: cover;
}

table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
}


td {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}


/* Stat colors */
.stat {
	font-family: TF2Secondary;
	font-size: 20px;
	margin: 0px 7px;
	margin-bottom: 12px;
	text-shadow: 1px 1px #141414;
	line-height: 1.4;
}
.upside { color: #99CCFF; }
.upside2 { color: #86b6e4; }
.downside { color: #ff3434; }
.downside2 { color: #e43a3a; }
.neutral { color: #fdfcfa; }
.neutral2 { color: #d9d9d9; }
.subtle { color: #756B5E; text-align: center; }

.rounded-rectangle {
  width: 100%;
  height: auto;
  background-color: #2b2724; /* Background colour */
  border-radius: 50px; /* Radius for rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Optional shadow */
  display: flex;
  flex-direction: column;
  margin: 20px; /* External margin */
  padding: 10px; /* Internal padding */
}

.rounded-rectangle .text h3stock {
  margin-bottom: 4px;
}

.rounded-rectangle .text h3 {
  margin-bottom: 4px;
}

.rounded-rectangle .text p {
  margin-top: 0;
  margin-bottom: 4px;
}

.column {
  display: flex;
  flex-direction: column; /* Stacks items vertically within each column */
  justify-content: center; /* Centers content vertically */
}

.changes {
  width: 65%;
  text-align: left;
}

.card-column {
  width: 35%;
  text-align: center;
}

.image-bg {
  background-color: #3c362f;
  border-radius: 32px;
  aspect-ratio: 4 / 3;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.image-bg img {
  max-width: 35%;
  max-height: 35%;
}

.column.image {
  flex: 1; /* Image column takes up 1 part of the space */
  display: flex; /* Ensure the image is properly aligned */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.column.image img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

.column.text {
  flex: 2; /* Text column takes up 2 parts of the space */
  text-align: left; /* Align text to the left */
  color: #333; /* Text colour */
}


hr {
  width: 60%;
  opacity: 0.5;
}

a {
  color: #F9DA3D;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #CF6A32;
}