@font-face { font-family: "TF2"; src: url('../fonts/TF2.ttf') format('truetype'); }
@font-face { font-family: "TF2Secondary"; src: url('../fonts/TF2secondary.ttf') format('truetype'); }
@font-face { font-family: "TF2build"; src: url('../fonts/tf2build.ttf') format('truetype'); }
@font-face { font-family: "Bevan"; src: url('../fonts/Bevan.ttf') format('truetype'); }

body {
	background-color: #302b25;
}

table {
  width: auto;
  margin: 0 auto;
  border-collapse: collapse;
}

h1 {
	font-family: Bevan;
	font-size: 64px;
	text-align: center;
	color: #FFD700;
	text-shadow: 3px 3px #141414;
	margin: initial auto;
}

h2 {
	font-family: TF2Build;
	font-size: 34px;
	text-align: center;
	color: #FFD700;
	text-shadow: 3px 3px #141414;
	margin: initial auto;
}

h3 {		/* This is for the title card headings*/
	font-family: TF2Build;
	font-size: 28px;
	text-align: center;
	color: #FFD700;
	margin: 0;          /* Removes the default margin */
	padding: 0;         /* Removes the default padding */
	line-height: 1.2;
}

p {
	font-family: TF2Secondary;
	font-size: 24px;
	text-align: center;
	color: #ebe2ca;
	margin: 0 100px 30px 100px;
}

/* Images */
a {
  text-decoration: none;
  vertical-align: middle;	
}

div {
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-shadow: 1px 1px #141414;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.1s ease;
}

.image-container .hover {
  opacity: 0;
}

.image-container:hover .hover {
  opacity: 1;
}

.image-container:hover .normal {
  opacity: 0;
}

td, .image-container, .image-container img {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures padding doesn’t affect dimensions */
}

img {
  right: 0px;
}

td.button img {
  	width: 100px;
  	height: 100px;
 	object-fit: cover;
}

td.weapon img {
	max-width: 100%;
	height: auto;
 	object-fit: cover;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}


td {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}

/* Stat colors */
.stat {
	font-family: TF2Secondary;
	font-size: 24px;
	margin: 0px 7px;
	text-align: left;
	text-shadow: 1px 1px #141414;
	line-height: 1.2;
}
.upside { color: #99CCFF; }
.upside2 { color: #86b6e4; }
.downside { color: #ff3434; }
.downside2 { color: #e43a3a; }
.neutral { color: #fdfcfa; }
.neutral2 { color: #d9d9d9; }
.subtle { color: #756B5E; }

 .container {
      display: inline-block; /* Allows wrapping the rectangle neatly inside the td */
    }

.rounded-rectangle {
	 width: 100%;
	 height: auto;
      background-color: #2b2724; /* Background colour */
      border-radius: 50px; /* Radius for rounded corners */
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Optional shadow */
	 display: flex;
	 flex-direction: row;
	 margin: 20px;
    }

    .column {
      display: flex;
      flex-direction: column; /* Stacks items vertically within each column */
      justify-content: center;
    }

.column.image img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Adjusts how the image fills its space */
  margin: 20px;
}

    .column.text {
      flex: 2;                /* Right column takes 2 portions of the width */
      text-align: left;       /* Left-aligns the text */
      color: #333;            /* Text colour */
    }


hr {
  width: 60%;
  opacity: 0.5;
}

a {
  color: #F9DA3D;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #CF6A32;
}